<header class="flex w-full justify-between border border-b-gray-700/70">
  <div class="flex items-center justify-center w-full">
    <img class="size-24" src="/images/TeamTaskRecortado.png" />
    <h1 class="text-4xl">TeamTask</h1>
  </div>
</header>
