<header
  class="flex justify-around bg-backgroud-color w-full h-36 border-b-2 border-black border-solid"
>
  <div class="flex items-center">
    <img class="w-36 h-36" src="/images/TeamTaskRecortado.png" />
    <h1 class="text-8xl">TeamTask</h1>
  </div>
  <a class="mt-9 bg-white h-14 w-14 rounded-full cursor-pointer" href="/#"
    ><img class="m-auto mt-1" src="/images/icons/userIcon.svg" /></a
  >
</header>
