---
---
<header class="flex justify-around items-center  fixed inset-x-0 bottom-0 bg-navbar-color text-white p-4 h-40  rounded-full ml-8 mr-8 mb-8">
<a href="/#"> <img class=" w-32 h-28 cursor-pointer" src="images/icons/addTask.svg" alt="task page"></a>
<a href="/#"> <img class=" w-32 h-28 cursor-pointer" src="images/icons/homeIcon.svg" alt="home page"></a>
<a href="/#"> <img class=" w-32 h-28 cursor-pointer" src="images/icons/chatIcon.svg" alt="chat page"></a>
</header>