
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metro/4.1.5/css/metro.min.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js'></script>
  </head>
  <body>
        <table class='table striped'>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Tag</th>
                </tr>
            </thead>
            <tbody>
                {{#each tasks}}
                <tr>
                    <td>{{title}}</td>
                    <td>{{description}}</td>
                    <td>{{tag}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
       
  </body>
</html>
