---
import LayoutEmpty from "../layouts/LayoutEmpty.astro";

---
<LayoutEmpty title="chat">
    <div>
        <header class=" bg-navbar h-24 flex items-center justify-between">
            <a><img src="/images/icons/returnIcon.svg"/></a>
            <p class="text-5xl text-white">El bicho</p>
            <img src="/images/icons/userIcon.svg"/>
        </header>
        <div class="bg-navbar h-24 fixed w-full top-[90%] flex items-center justify-center">
        <input class="w-[90%] rounded-full h-14"/>
        </div>
    </div>
</LayoutEmpty>