---
import AuthLayout from "../layouts/AuthLayout.astro";
---

<AuthLayout title="Register">
  <div class="flex flex-col items-center">
    <form class="flex flex-col w-fit mt-10">
      <label class="text-3xl my-2">Nombre de usuario</label>
      <input
        class="border-1 border-gray-300 rounded-full p-2 m-2 w-80 h-14"
        type="text"
      />
      <label class="text-3xl my-2">Correo</label>
      <input
        class="border-1 border-gray-300 rounded-full p-2 m-2 w-80 h-14"
        type="text"
      />
      <label class="text-3xl my-2">Contraseña</label>
      <input
        class="border-1 border-gray-300 rounded-full p-2 m-2 w-80 h-14"
        type="text"
      />
      <button
        class="mt-8 border-2 border-gray-300 p-2 m-2 rounded-full text-4xl text-white bg-navbar"
        type="submit">Register</button
      >
    </form>
  </div>
</AuthLayout>
