---
import Header from "../components/Header.astro";
import LayaoutSettings from "../layouts/LayaoutSettings.astro";

---
<LayaoutSettings title="Settings">

    <div class="flex flex-col items-center" >
        <img class="size-48 mt-10" src="images/TeamTaskRecortado.png" />
        <h1 class="text-8xl mt-14">Ajustes</h1>
        <div class="flex flex-col items-center">
            <a>Visualizar tareas</a>
            <a>Visualizar tareas</a>
            <a>Visualizar tareas</a>
        </div>
    </div>
</LayaoutSettings>
